{% set site = default %}
<!doctype html>
<html class="no-js" lang="en">
<head>
  <meta charset="utf-8" />
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ site.title }}</title>
  <link rel="stylesheet" href="./assets/css/app.css">
</head>
<body>
  {% block content %}{% endblock -%}
  <script src="./assets/js/app.js"></script>
</body>
</html>
